@{
    ViewData["Title"] = "Welcome to Padel Booking";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Padel Reservation</h1>
    <p class="lead">Book your next padel match effortlessly!</p>
    <p>
        <a asp-action="Create" asp-controller="Bookings" class="btn btn-success btn-lg">Create a Booking</a>

    </p>

</div>
